.photo{
    display:block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.data{
    font-size: large;
    width: 400px;
    height: 40px;
    margin: auto;
    margin-top: 40px;
    text-align: left;
}
.rcorners{
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    height: 40px;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 40px;
    border: 2px solid black;
    font-size: 120%;
    font-family: Arial;
}
.kotak_saran{
    width: 400px;
    height: 50px;
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;
}