<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>
            Gitan's Profile Page
        </title>
        <link rel="stylesheet" href="{% static 'Style.css' %}">
    </head>
    <body>
        <h1 style="text-align: center; font-family: Arial;">Welcome to My Profile Page</h1>
        <img src="{% static 'pp.jpg' %}" alt="Gitan's Photo" class="photo" height="370" width="244">
        <pre class="data">
        Name  : Gitan Sahl Tazakha Wijaya
        Major : Information System
        </pre>
        <p class="rcorners" style="text-align: center;"><b>Download Resume</b></p>
        <p style="font-size: small; text-align: center; margin-bottom: 0px;">Send me some words!</p>
        <div class="kotak_saran"></div>
    </body>
</html>